/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
   padding: 2.5rem 0;
   text-align: center;
   position: relative;
   overflow: hidden;
 }

 .heroBannerLogo {
   max-width: 250px;
   max-height: 250px;
 }

 @media screen and (max-width: 966px) {
   .heroBanner {
     padding: 2rem;
   }
 }

 .getStarted {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .features {
   display: flex;
   align-items: center;
   padding: 4rem 0;
   width: 100%;
 }

 .featureImage {
   margin: 0 auto;
 }

 .gettingStartedSection {
   background-color: #f7f7f7;
 }

 html[data-theme='dark'] .gettingStartedSection {
   background-color: #33363b;
 }
