/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #266347;
  --ifm-color-primary-dark: #225940;
  --ifm-color-primary-darker: #20543c;
  --ifm-color-primary-darkest: #1b4532;
  --ifm-color-primary-light: #2a6d4e;
  --ifm-color-primary-lighter: #2c7252;
  --ifm-color-primary-lightest: #31815c;
  --ifm-code-font-size: 95%;
}

/*link color */

a {
  color: #358762;
}

/* 38946a */

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
